<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-node-js fa-3x"></i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>

<!-- Bus Query Form -->
<div class="row">
    <div class="col-md-4">
        <div class="form-group" wfd-id="361">
            <label for="from" wfd-id="362">From</label>
            <input type="text" class="form-control" id="from" placeholder="Pickup Address" wfd-id="519">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" wfd-id="361">
            <label for="to" wfd-id="362">To</label>
            <input type="text" class="form-control" id="to" placeholder="Pickup Address" wfd-id="519">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" wfd-id="361">
            <label for="to" wfd-id="362">To</label>
            <input type="date" class="form-control" id="to" placeholder="Pickup Address" wfd-id="519">
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary" wfd-id="584">Search For Buses</button>